@using System.Text.Json
@using AINovelWriter.Shared.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="HandleNavigate">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Determining session state, please wait...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>Sorry</h1>
                    <p>You're not authorized to reach this page. You need to <a href="Account/Login?redirectUri=/">Log in</a> to continue</p>

                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [Inject]
    private AppState AppState { get; set; } = default!;
    [Inject]
    private ProtectedLocalStorage ProtectedLocalStorage { get; set; } = default!;

    private async void HandleNavigate(NavigationContext navigationContext)
    {
        try
        {
            var page = navigationContext.Path;
            AppState.CurrentPage = page;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error in HandleNavigation: {e.Message}");
        }
    }
}