<div class="message-card @Message.CssClass @(Message.Role == Role.User ? "user-message" : "assistant-message")">
    @if (!string.IsNullOrEmpty(Message.ImageUrl))
    {
        <img src="@Message.ImageUrl" class="message-image" alt="input image" />
    }
    <div @ref=_ref class="message-content">@((MarkupString)AsHtml(Message.Content))</div>
    <div class="message-timestamp">@Message.TimeStamp.ToString("g")</div>
</div>