<RadzenCard class="@Message.CssClass">
    @if (!string.IsNullOrEmpty(Message.ImageUrl))
    {
        <img src="@Message.ImageUrl" style="max-height:200px; max-width:200px;" alt="input image" />
    }
    <div @ref=_ref style="@(Message.Role == Role.User ? "width:100%" : "width:100%; color:white")">@((MarkupString)AsHtml(Message.Content))</div>
    <RadzenText Style="color:white" TextStyle="TextStyle.Overline">@Message.TimeStamp.ToString("g")</RadzenText>
</RadzenCard>