@page "/eval"
@inherits AppComponentBase
<RadzenButton Size="ButtonSize.Small" Click="EvaluateNovelWithCriticalEvals" Text="Evaluate" IsBusy="IsBusy" BusyText="Evaluating..."></RadzenButton>
<RadzenRow>
    <RadzenColumn SizeLG="12" OffsetLG="0">
        <RadzenCard Style="padding-left:0;padding-right:0">
            <div style="display:flex;flex-direction:row;justify-content:space-evenly; align-items:center">
                <RadzenCard>
                    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Subtitle1">Full Novel Scores</RadzenText>
                    @* <RadzenIcon Icon="help" MouseEnter="@((args) => ShowToolTip(args, "Eval scores for the full text of the novel in one shot"))"></RadzenIcon> *@
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Character Development</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.CharacterDevelopment.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Clarity</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Clarity.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Creativity</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Creativity.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Engagement</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Engagement.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">WritingDetail</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.WritingDetail.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Style</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Style.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Overall</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Overall.ToString("N3")</RadzenText>
                </RadzenCard>
            </div>
            <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">Chapter Evaluations</RadzenText>
            <RadzenDataGrid @ref="_grid" Data="@(AppState.NovelInfo.NovelEval?.ChapterEvals ?? [])" TItem="FlatChapterEval" Density="Density.Compact" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ShowPagingSummary="true">
                <Template Context="eval">
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Major Weaknesses">
                                Charater Development: @eval.CharacterDevelopmentMajorWeaknesses<br />
                                Clarity: @eval.ClarityMajorWeaknesses<br />
                                Creativity: @eval.CreativityMajorWeaknesses<br />
                                Engagement: @eval.EngagementMajorWeaknesses<br />
                                Writing Detail: @eval.WritingDetailMajorWeaknesses<br />
                                Style: @eval.StyleMajorWeaknesses<br />

                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Minor Weaknesses">
                                Character Development: @eval.CharacterDevelopmentMinorWeaknesses<br />
                                Clarity: @eval.ClarityMinorWeaknesses<br />
                                Creativity: @eval.CreativityMinorWeaknesses<br />
                                Engagement: @eval.EngagementMinorWeaknesses<br />
                                Writing Detail: @eval.WritingDetailMinorWeaknesses<br />
                                Style: @eval.StyleMinorWeaknesses<br />
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Chapter Text">
                                <RadzenCard Style="overflow-wrap:break-word; white-space:pre-wrap">
                                    @((MarkupString)AsHtml(GetChapterText(eval)))
                                </RadzenCard>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </Template>
                <Columns>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Property="@(nameof(FlatChapterEval.ChapterNumber))" Title="Chapter" Width="10%">
                        <FooterTemplate>
                            Average Score:
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.CharacterDevelopment))" Property="@(nameof(FlatChapterEval.CharacterDevelopment))" Width="15%">
                        <Template Context="eval">
                            @eval.CharacterDevelopment.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.CharacterDevelopment).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Clarity))" Property="@(nameof(FlatChapterEval.Clarity))" Width="12%">
                        <Template Context="eval">
                            @eval.Clarity.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Clarity).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Creativity))" Property="@(nameof(FlatChapterEval.Creativity))" Width="13%">
                        <Template Context="eval">
                            @eval.Creativity.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Creativity).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Engagement))" Property="@(nameof(FlatChapterEval.Engagement))" Width="13%">
                        <Template Context="eval">
                            @eval.Engagement.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Engagement).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.WritingDetail))" Property="@(nameof(FlatChapterEval.WritingDetail))" Width="15%">
                        <Template Context="eval">
                            @eval.WritingDetail.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.WritingDetail).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Style))" Property="@(nameof(FlatChapterEval.Style))" Width="12%">
                        <Template Context="eval">
                            @eval.Style.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Style).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Overall))" Property="@(nameof(FlatChapterEval.Overall))" Width="10%">
                        <Template Context="eval">
                            @eval.Overall.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Overall).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
           
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>