@page "/eval"
@inherits AppComponentBase
<RadzenButton Size="ButtonSize.Small" Click="EvaluateNovel" Text="Evaluate" IsBusy="_isBusy" BusyText="Evaluating..."></RadzenButton>
<RadzenRow>
    <RadzenColumn SizeLG="8" OffsetLG="2">
        <RadzenCard Style="padding-left:0;padding-right:0">
            <div style="display:flex;flex-direction:row;justify-content:space-evenly; align-items:center">
                <RadzenCard>
                    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Subtitle1">Full Novel Scores</RadzenText>
                    @* <RadzenIcon Icon="help" MouseEnter="@((args) => ShowToolTip(args, "Eval scores for the full text of the novel in one shot"))"></RadzenIcon> *@
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Character Development</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.CharacterDevelopment.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Clarity</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Clarity.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Creativity</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Creativity.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Engagement</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Engagement.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">WritingDetail</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.WritingDetail.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Relevance</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Relevance.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Overall</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Overall.ToString("N3")</RadzenText>
                </RadzenCard>
            </div>
            <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">Chapter Evaluations</RadzenText>
            <RadzenDataGrid @ref="_grid" Data="_chapterEvals" TItem="FlatChapterEval" Density="Density.Compact" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ShowPagingSummary="true">
                <Template Context="eval">
                    <RadzenCard Style="overflow-wrap:break-word; white-space:pre-wrap">
                        @((MarkupString)AsHtml(GetChapterText(eval)))
                    </RadzenCard>
                </Template>
                <Columns>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Property="@(nameof(FlatChapterEval.ChapterNumber))" Title="Chapter" Width="10%">
                        <FooterTemplate>
                            Average Score:
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.CharacterDevelopment))" Property="@(nameof(FlatChapterEval.CharacterDevelopment))" Width="15%">
                        <Template Context="eval">
                            @eval.CharacterDevelopment.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.CharacterDevelopment).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Clarity))" Property="@(nameof(FlatChapterEval.Clarity))" Width="12%">
                        <Template Context="eval">
                            @eval.Clarity.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.Clarity).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Creativity))" Property="@(nameof(FlatChapterEval.Creativity))" Width="13%">
                        <Template Context="eval">
                            @eval.Creativity.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.Creativity).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Engagement))" Property="@(nameof(FlatChapterEval.Engagement))" Width="13%">
                        <Template Context="eval">
                            @eval.Engagement.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.Engagement).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.WritingDetail))" Property="@(nameof(FlatChapterEval.WritingDetail))" Width="15%">
                        <Template Context="eval">
                            @eval.WritingDetail.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.WritingDetail).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Relevance))" Property="@(nameof(FlatChapterEval.Relevance))" Width="12%">
                        <Template Context="eval">
                            @eval.Relevance.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.Relevance).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Overall))" Property="@(nameof(FlatChapterEval.Overall))" Width="10%">
                        <Template Context="eval">
                            @eval.Overall.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(_chapterEvals.Count > 0 ? _chapterEvals.Average(e => e.Overall).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
           
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>