@page "/eval"
@inherits AppComponentBase
<RadzenButton Size="ButtonSize.Small" Click="EvaluateNovel" Text="Evaluate" IsBusy="IsBusy" BusyText="Evaluating..."></RadzenButton>
<RadzenRow>
    <RadzenColumn SizeLG="12" OffsetLG="0">
        <RadzenCard Style="padding-left:0;padding-right:0">
            <div style="display:flex;flex-direction:row;justify-content:space-evenly; align-items:center">
                <RadzenCard>
                    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Subtitle1">Full Novel Scores</RadzenText>
                    @* <RadzenIcon Icon="help" MouseEnter="@((args) => ShowToolTip(args, "Eval scores for the full text of the novel in one shot"))"></RadzenIcon> *@
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Character Development</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.CharacterDevelopment.ProbScore.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Clarity</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Clarity.ProbScore.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Creativity</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Creativity.ProbScore.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Engagement</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Engagement.ProbScore.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">WritingDetail</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.WritingDetail.ProbScore.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Style</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Style.ProbScore.ToString("N3")</RadzenText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2">Overall</RadzenText>
                    <RadzenText TextAlign="TextAlign.Center">@AppState.NovelInfo.NovelEval?.Overall.ToString("N3")</RadzenText>
                </RadzenCard>
            </div>
            <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">Chapter Evaluations</RadzenText>
            <RadzenDataGrid @ref="_grid" Data="@(AppState.NovelInfo.NovelEval?.ChapterEvals ?? [])" TItem="FlatChapterEval" Density="Density.Compact" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ShowPagingSummary="true">
                <Template Context="eval">
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Explanations">
                                <RadzenTable GridLines="DataGridGridLines.Both" AllowAlternatingRows="true" Style="table-layout: auto;">
                                    <RadzenTableHeader>
                                        <RadzenTableHeaderRow>
                                            <RadzenTableHeaderCell>Category</RadzenTableHeaderCell>
                                            <RadzenTableHeaderCell>Explanation</RadzenTableHeaderCell>
                                        </RadzenTableHeaderRow>
                                    </RadzenTableHeader>
                                    <RadzenTableBody>
                                       @foreach (var item in eval.ScoreExplanations)
                                       {
                                           <RadzenTableRow>
                                               <RadzenTableCell Style="width:25%">@item.Key</RadzenTableCell>
                                               <RadzenTableCell >
                                                    <RadzenCard Style="overflow-wrap:break-word; white-space:pre-wrap; padding:0">@item.Value</RadzenCard>
                                               </RadzenTableCell>
                                           </RadzenTableRow>
                                       }
                                    </RadzenTableBody>
                                </RadzenTable>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Chapter Text">
                                <RadzenCard Style="overflow-wrap:break-word; white-space:pre-wrap">
                                    @((MarkupString)AsHtml(GetChapterText(eval)))
                                </RadzenCard>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </Template>
                <Columns>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Property="@(nameof(FlatChapterEval.ChapterNumber))" Title="Chapter" Width="5%">
                        <FooterTemplate>
                            Average Score:
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.CharacterDevelopment))" Property="@(nameof(FlatChapterEval.CharacterDevelopment))" Width="15%">
                        <Template Context="eval">
                            @eval.CharacterDevelopment.ProbScore.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.CharacterDevelopment.ProbScore).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Clarity))" Property="@(nameof(FlatChapterEval.Clarity))" Width="12%">
                        <Template Context="eval">
                            @eval.Clarity.ProbScore.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Clarity.ProbScore).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Creativity))" Property="@(nameof(FlatChapterEval.Creativity))" Width="13%">
                        <Template Context="eval">
                            @eval.Creativity.ProbScore.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Creativity.ProbScore).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Engagement))" Property="@(nameof(FlatChapterEval.Engagement))" Width="13%">
                        <Template Context="eval">
                            @eval.Engagement.ProbScore.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Engagement.ProbScore).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.WritingDetail))" Property="@(nameof(FlatChapterEval.WritingDetail))" Width="15%">
                        <Template Context="eval">
                            @eval.WritingDetail.ProbScore.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.WritingDetail.ProbScore).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Style))" Property="@(nameof(FlatChapterEval.Style))" Width="12%">
                        <Template Context="eval">
                            @eval.Style.ProbScore.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Style.ProbScore).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="FlatChapterEval" Title="@(nameof(FlatChapterEval.Overall))" Property="@(nameof(FlatChapterEval.Overall))" Width="10%">
                        <Template Context="eval">
                            @eval.Overall.ToString("N3")
                        </Template>
                        <FooterTemplate>
                            @(AppState.NovelInfo.NovelEval?.ChapterEvals.Count > 0 ? AppState.NovelInfo.NovelEval?.ChapterEvals.Average(e => e.Overall).ToString("N3") : "0.000")
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Width="5%">
                        <Template Context="eval">
                            <RadzenButton Size="ButtonSize.ExtraSmall" Icon="redo" Click="@(() => ReEvaluateNovelChapter(eval.ChapterNumber))" title="Re-run Chapter Eval"></RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
           
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>